.main {
    height: 80%;
    margin-top: 0;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0%;
    position: relative;
}

.right {
    position: absolute;
    left: 80%;
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
}

.right a {
    color: black;
    text-decoration: none;
}

.right ul {
    padding-left: 0;
}

.right li {
    padding-top: 25px;
    padding-bottom: 5px;
    list-style: none;
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.left {
    width: 75%;
    position: absolute;
    left: 5%;
    overflow-y: auto;
    height: 100%
}

.selected {
    background-color: #aaa;
}

.line {
    text-align: center;
    margin: 0;
}

.outer-box {
    float: left;
    display: block;
    width: 100%;
    margin: 5px 0;
    height: 250px;
}

.inner-box {
    border-radius: 5px;
    padding: 1% 2%;
    margin: 1%;
    display: inline;
    float: left;
    width: 25%;
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
    height: 80%;
}

.name {
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    margin-top: 15px;
    font-size: 18px;
}

.cost {
    color: #B12704 !important;
    font-size: 20px;
}

.img-limited {
    max-width: 100%;
    max-height: 50%;
    overflow: hodden;
    border: 3px solid black;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, .3);
}